In [1]:
import pandas as pd

df = pd.read_csv("Taxi_Trips_-_2019.tsv", sep="\t")
print(df.shape)

(16477365, 23)

In [2]:
df1 = df.drop(columns=['Trip ID', 'Taxi ID', 'Pickup Census Tract','Dropoff Census Tract',
                        'Fare', 'Tips', 'Tolls', 'Extras','Trip Total', 'Payment Type',
                       'Dropoff Centroid  Location', 'Pickup Centroid Location',
                       'Trip End Timestamp','Pickup Centroid Latitude', 'Pickup Centroid Longitude',
                      'Dropoff Centroid Latitude', 'Dropoff Centroid Longitude'])

In [3]:
print(df1.columns)

Index(['Trip Start Timestamp', 'Trip Seconds', 'Trip Miles',
       'Pickup Community Area', 'Dropoff Community Area', 'Company'],
      dtype='object')

## Remove all trips less than 0.5 miles, and more than 100 miles, and less than 60 seconds, and greater than 5 hours

In [4]:
df1 = df1[df1['Trip Miles'] >= 0.5]
df1 = df1[df1['Trip Miles'] <= 100]
df1 = df1[df1['Trip Seconds'] >= 60]
df1 = df1[df1['Trip Seconds'] <= 18000]

## Remove areas outside chicago which are marked by NaN

In [5]:
df1 = df1.dropna(subset=['Pickup Community Area', 'Dropoff Community Area'])

## Reduce time accuracy to hourly

In [6]:
df1['Trip Start Timestamp'] = pd.to_datetime(df1['Trip Start Timestamp'])
df1['Trip Start Timestamp'] = df1['Trip Start Timestamp'].dt.floor('h')

## remove repeats by itemizing to multiple tables

In [7]:
codes, uniques = pd.factorize(df1['Company'])
df1['Company'] = codes

In [8]:
uniques = uniques.to_series()
uniques.to_csv('Companies.tsv',index=True, sep='\t')

In [9]:
df1['Trip Start Day'] = df1['Trip Start Timestamp'].dt.day
df1['Trip Start Month'] = df1['Trip Start Timestamp'].dt.month
df1['Trip Start Hour'] = df1['Trip Start Timestamp'].dt.hour

In [10]:
df1 = df1.drop(['Trip Start Timestamp'], axis=1)
df1

,Trip Seconds,Trip Miles,Pickup Community Area,Dropoff Community Area,Company,Trip Start Day,Trip Start Month,Trip Start Hour
18,1260.0,0.60,77.0,28.0,0,1,1,0
20,360.0,0.80,8.0,8.0,1,1,1,0
22,360.0,1.00,8.0,8.0,1,1,1,0
23,420.0,0.80,8.0,8.0,2,1,1,0
24,180.0,0.70,77.0,4.0,1,1,1,0
...,...,...,...,...,...,...,...,...
16477360,1639.0,4.10,7.0,32.0,16,31,12,23
16477361,2040.0,18.30,76.0,8.0,36,31,12,23
16477362,4271.0,17.81,56.0,8.0,10,31,12,23
16477363,600.0,1.30,32.0,8.0,4,31,12,23
16477364,1303.0,2.90,8.0,32.0,10,31,12,23

In [16]:
#df1.to_csv('Datafile.tsv',index=False, sep='\t')
for x in range(0,len(uniques)):
    df1[df1['Company'] == x].to_csv(str(x)+'.tsv',index=False, sep='\t')

In [15]:
len(uniques)

55